.btn-primary,
.contact-submit input[type="submit"] {
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        color: $btn-primary-color;
        background-color: lighten($btn-primary-bg, 8%);
        border-color: lighten($btn-primary-bg, 8%);
    }
}

.btn-secondary {
    @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        color: $btn-secondary-color;
        background-color: lighten($btn-secondary-bg, 8%);
        border-color: lighten($btn-secondary-bg, 8%);
    }
}

.btn-programs {
    @include button-variant($btn-programs-color, $btn-programs-bg, $btn-programs-border);
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        color: $btn-programs-color;
        background-color: lighten($btn-programs-bg, 8%);
        border-color: lighten($btn-programs-bg, 8%);
    }
}

.btn-cta {
    @include button-variant($btn-cta-color, $btn-cta-bg, $btn-cta-border);
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        color: $btn-cta-color;
        background-color: lighten($btn-cta-bg, 8%);
        border-color: lighten($btn-cta-bg, 8%);
    }
}

.btn-default {
    color: $brand-primary;
}

a[data-toggle="collapse"].btn {
    padding-right: 30px;
    position: relative;
    &:after {
        font-family: fontawesome;
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -11px;
    }
    &[aria-expanded="false"]:after {
        content: "\f055";
    }
    &[aria-expanded="true"]:after {
        content: "\f056";
    }
}

.fa-action {
    position: relative;
    display: block;
    .fa-action-icon {
        bottom: 15px;
        right: 15px;
        position: absolute;
    }
}