.comment-list {
    @include list-unstyled;
}

.comment-list ol {
    list-style: none;
}

.comment-form p {
    @extend .form-group;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
    @extend .form-control;
}

.comment-form input[type="submit"] {
    @extend .btn;
    @extend .btn-primary;
}

.comment-meta {
    border-bottom: 1px solid $gray-lighter;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.comments {
    h2 {
        font-size: 16px;
        font-weight: 500;
    }
    .comment-body {
        padding: 30px;
        box-shadow: none;
        border-radius: 0;
        margin-bottom: 0;
        border-bottom: 1px solid $gray-light-3;
        background-color: #fff;
        position: relative;
    }
    .comment-list {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        overflow: hidden;
        margin: 0;
    }
    .comment-respond {
        background: #fff;
        padding: 0 20px 20px;
        box-shadow: 0 1px 1px 0 rgba(92, 102, 112, .25);
        overflow: hidden;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        label {
            font-weight: 400;
            color: $gray-light;
        }
    }
}

.comment-author.vcard img {
    display: block;
    float: left;
    margin-right: 10px;
    margin-top: 4px;
}

.pingback {
    .comment-body {
        font-size: 87%;
        padding: 15px;
    }
    .edit-link {
        float: right;
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
    }
}

.edit-link {
    text-align: right;
    float: right;
    a {
        border: 1px solid $gray-light-3;
        padding: 2px 5px;
        border-radius: 3px;
        color: $brand-primary;
        font-weight: 400;
        &:hover {
            color: $text-color;
            background-color: $gray-lighter-2;
            border-bottom-style: solid;
        }
    }
}

.comment-metadata {
    font-size: 87%;
    margin-left: 35px;
    position: relative;
    > a{
        color: $gray-light;
        border-bottom: 0;
    }
}
