// Search form
.search-form {
    @extend .form-inline;
}

.search-form label {
    font-weight: normal;
    @extend .form-group;
}

.search-form .search-field {
    @extend .form-control;
}

.search-form .search-submit{
    @extend .btn;
    @extend .btn-default;
}

.contact-form input[type=submit],
#subscribe-submit input[type=submit] {
    @extend .btn;
    @extend .btn-primary;
}

.contact-form input[type=email],
.contact-form input[type=text],
.contact-form input[type=url],
.contact-form textarea,
.contact-form .search-field,
.jetpack_subscription_widget input[type=email],
.widget_categories select{
    @extend .form-control;
}
.contact-form textarea {
    height: 200px;
}