.header-widget {
  section {
    border-radius: 3px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    @include research-box-shadow();
    background-color: #fff;
    &.widget_metaslider_widget {
      padding: 0;
    }
  }
  .metaslider {
    .caption-wrap {
      position: inherit;
      background: transparent;
      opacity: 1;
      left: 0;
      @include container-fixed;
      @media (min-width: $screen-sm-min) {
        width: $container-sm;
      }
      @media (min-width: $screen-md-min) {
        width: $container-md;
      }
      @media (min-width: $screen-lg-min) {
        width: $container-lg;
      }
      .caption {
        padding: 15px 0;
        max-width: 900px;
        a.btn {
          margin-top: 10px;
        }
        h2 {
          display: block;
          font-weight: 900;
          font-size: 28px;
          margin: 0;
          word-wrap: break-word;
          text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        }
        p {
          display: block;
          font-weight: 400;
          text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        }
      }
    }
    .flexslider {
      margin: 0 !important;
    }
    //Paging
    .flex-control-nav {
      bottom: 15px;
      z-index: 99;
    }
    .flex-control-paging li a {
      background-color: rgba(255, 255, 255, 0.5);
      box-shadow: 0 0 5px rgba(0, 0, 0, .5);
      &.flex-active {
        background-color: #fff;
      }
    }
    .slides {
      padding: 0;
      margin: 0;
      > li {
        min-height: 200px;
        > img {
          position: absolute;
          display: block;
          object-fit: cover;
          object-position: right top;
          height: 100%;
        }
      }
    }
  }
}

.header-widget.container-fluid {
  section {
    border-radius: 0;
    &:first-child.widget_metaslider_widget {
      margin-top: -30px;
    }
    &.widget_metaslider_widget {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}

//lightbox2
.lb-dataContainer {
  padding-top: 12px;
  margin-top: -2px;
  background-color: white;
}

.lb-data .lb-close {
  margin-top: -7px;
  margin-right: 10px
}

@media (max-width: $screen-xs-max) {
  .header-widget .metaslider {
    .caption {
      margin: 20px;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .header-widget .metaslider {
    .caption-wrap {
      background: transparent;
      color: #fff;
      top: 0;
      position: absolute;
      .caption {
        h2 {
          font-size: 60px;
          line-height: 1;
        }
        p {
          font-size: 24px;
          font-weight: 900;
          line-height: 1.2;
        }
      }
    }
    .slides>li>img {
      position: initial;
    }
  }
  .header-widget.container-fluid {
    .metaslider {
      .caption-wrap {
        margin: 0 auto;
        display: block;
        position: relative;
      }
      .slides>li>img {
        position: absolute;
      }
    }
  }
  body.home .header-widget.container-fluid {
    .metaslider {
      .slides > li {
        min-height: 300px;
      }
    }
  }
}

@media (min-width: $screen-md-min) {
  body.home .header-widget.container-fluid {
    .metaslider {
      .slides > li {
        min-height: 380px;
      }
    }
  }
}

@media (min-width: $screen-lg-min) {
  body.home .header-widget.container-fluid.header-widget-large {
    .metaslider {
      .slides > li {
        min-height: 490px;
      }
    }
  }
}
