// Main styling for content regions on the site
body {
    font-weight: 200;
}

body.single article,
body.page:not([class*=-empty]) main.main .wrapper,
body.blog article,
body.archive article,
body.search article,
aside.sidebar section,
.page-template-template-full-empty article {
    @include research-content-region();
}

body.blog article,
body.archive article,
body.search article,
aside.sidebar section,
.page-template-template-full-empty article {
    @include research-padding();
}

body.single article,
body.page:not([class*=-empty]) main.main .wrapper,
body.blog article,
body.archive article,
body.search article,
.page-template-template-full-empty article {
    @include research-box-shadow();
}

body.single article,
body.page:not([class*=-empty]) main.main .wrapper {
    padding: 30px;
    .post-header,
    .page-header {
        margin-top: 0;
        overflow: hidden;
        h1 {
            margin-top: 0;
        }
    }
}

body[class*=-empty],
body.archive {
    .page-header {
        margin-top: 0;
        h1 {
            margin-top: 0;
        }
    }
}

.no-padding {
    padding: 0 !important;
}

b,
strong {
    font-weight: 500;
}

.img-round {
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 4px;
    background: #f7f7f7;
}

button,
.button,
.btn,
a.btn,
.btn a {
    transition: all 0.25s ease-in-out 0s;
    word-wrap: break-word;
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

.well-gray {
    background-color: #5c6670;
    border-color: lighten(#5c6670, 13.5%);
    color: white;
}

.container-fluid,
.container {
    .jumbotron.jumbotron-clean {
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
    }
}

.thumbnail {
    .caption {}
    figure {
        background-color: #fff;
        img {
            display: block;
            max-width: 100%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

p.byline a {
    font-weight: bold;
}

div[class*=md-12] {
    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4 {
        &.title {
            margin-top: 0px;
        }
    }
}

%link_style {
    border-bottom: 1px dotted $brand-primary;
    &:hover,
    &:focus {
        color: $brand-primary;
        text-decoration: none;
        border-bottom: 1px dotted lighten($brand-primary, 13.5%);
    }
}

main,
aside.sidebar {
    h1,
    h2,
    h3,
    h4,
    h5,
    li,
    td {
        a {
            @extend %link_style;
        }
    }
    p a:not([class*="btn"]) {
        @extend %link_style;
    }
    figure > a {
        border-bottom-width: 0;
        &:hover,
        &:focus {
            border-bottom-width: 0;
        }
    }
}

.nav-links,
.entry-tags {
    a {
        @extend %link_style;
    }
}

footer.content-info {
    a {
        color: $gray-light-2;
        border-bottom: 1px dotted $gray-light-2;
        &:hover,
        &:focus {
            color: lighten($gray-light-2, 13.5%);
            text-decoration: none;
            border-bottom: 1px dotted lighten($gray-light-2, 13.5%);
        }
    }
    .social-media a,
    a.img-link {
        border-bottom-width: 0;
    }
    p {
        a:not([class*="btn"]) {}
    }
}

.pagination a {
    cursor: pointer;
}

main .nav-tabs {
    a:not([class*="btn-"]):not(.img-link) {
        border-bottom-color: rgba(0, 0, 0, 0);
    }
    .no-link {
        padding: 10px 15px;
        margin-right: 2px;
        line-height: 1.6;
        position: relative;
        display: block;
        border: 1px solid rgba(0, 0, 0, 0);
    }
}

.color-facebook {
  color: $facebook;
}

.color-youtube {
  color: $youtube;
}

.color-linkedin {
  color: $linkedin;
}

.color-twitter {
  color: $twitter;
}

.color-instagram {
  color: $instagram;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    &.title {
        //border-bottom: 1px solid $gray-light-2;
        margin-top: 0;
    }
}

@media (max-width: $screen-xs-max) {
    h1 {
        font-size: $font-size-xs-h1;
    }
    h2 {
        font-size: $font-size-xs-h2;
    }
    h3 {
        font-size: $font-size-xs-h3;
    }
    h4 {
        font-size: $font-size-xs-h4;
    }
}
