// Glyphicons font path
$icon-font-path:        "../fonts/";
$roboto-font-path:      $icon-font-path;

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:     #8C1D40;
$gray-base: 		darken(#353535, 20%);

$text-color: $gray-base;
// $gray-darker:            lighten($gray-base, 13.5%) !default; // #222
// $gray-dark:              lighten($gray-base, 20%) !default;   // #353535
// $gray:                   lighten($gray-base, 33.5%) !default; // #f575757
// $gray-light:             lighten($gray-base, 46.7%) !default; // #797979
$gray-light-2:           lighten($gray-base, 73%); // #bcbcbc
$gray-light-3:           lighten($gray-base, 78%); // #c9c9c9
// $gray-lighter:           lighten($gray-base, 93.5%) !default; // #F0F0ED
$gray-lighter-2:         lighten($gray-base, 96%); // #f0f0f0


// Custom Colors
$brand-secondary: #dbdbdb;
$brand-programs:  #00A3E0;
$brand-cta: 	  #ffc627;

$body-bg: $gray-lighter-2;
$font-family-sans-serif:    "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-size-base:          16px;

$font-size-xs-h1:            floor(($font-size-base * 1.875)); // ~30px
$font-size-xs-h2:            ceil(($font-size-base * 1.5)); // ~24px
$font-size-xs-h3:            ceil(($font-size-base * 1.25)); // ~18px
$font-size-xs-h4:            $font-size-base;
$font-size-xs-h5:            ceil(($font-size-base * 0.85)); // ~12px
$font-size-xs-h6:            ceil(($font-size-base * 0.85)); // ~12px

$headings-font-weight:    400;
$headings-line-height:    1.25;

$line-height-base:        1.6;
$padding-large-vertical:  20px;

$btn-primary-border:      $brand-primary;

//Custom Buttons
$btn-secondary-color:     #000;
$btn-secondary-bg:        $brand-secondary;
$btn-secondary-border:    $brand-secondary;

$btn-cta-color:           #000;
$btn-cta-bg:              $brand-cta;
$btn-cta-border:          $brand-cta;

$btn-programs-color:      #fff;
$btn-programs-bg:         $brand-programs;
$btn-programs-border:     $brand-programs;

//Social Icons
$twitter: #00aced;
$facebook: #3b5998;
$googleplus: #dd4b39;
$pinterest: #cb2027;
$linkedin: #007bb6;
$youtube: #bb0000;
$vimeo: #aad450;
$tumblr: #32506d;
$instagram: #517fa4;
$flickr: #ff0084;
$dribbble: #ea4c89;
$quora: #a82400;
$foursquare: #0072b1;
$forrst: #5B9A68;
$vk: #45668e;
$wordpress: #21759b;
$stumbleupon: #EB4823;
$yahoo: #7B0099;
$blogger: #fb8f3d;
$soundcloud: #ff3a00;

@mixin research-padding(){
	padding: 20px;
}

@mixin research-box-shadow(){
	box-shadow: 0 2px 3px 0px rgba(92,102,112,.25);
}

@mixin research-content-region(){
    border-radius: 3px;
    background-color: #fff;
    margin-bottom: 20px;
}