@import "common/variables";

body.login {
    background: $body-bg;
    h2 {
        font-size: 28px;
        line-height: 1.4em;
        text-align: center
    }
    h1 a {
        background-image: url(../images/asu-wpcarey-logo.png);
        -webkit-background-size: 300px 72px;
        background-size: 300px 72px;
        width: 300px;
        height: 72px
    }
    #login {
        padding: 30px 0 0
    }
}
