footer.content-info {
    margin-top: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
    ul {
        padding: 0;
        list-style: none;
    }
    .container section {
        @include make-md-column(3);
    }
    section.widget {
        h3 {
            font-weight: 400;
        }
        .fa {
            margin-right: 10px;
        }
    }
}

footer.footer-default {
    background-color: rgb(32, 34, 35);
    color: $gray-light-2;
    h1,
    h2,
    h3,
    h4,
    h5 {
        color: #fff;
    }
    .social-media{
        margin: 0 0 ($line-height-computed / 2);
        a .fa{
            color: $gray-light-2;
        }
    }
}
footer.widget-4-5-3{
    .container section {
        &.widget:nth-child(1){
            @include make-md-column(4);
        }
        &.widget:nth-child(2){
            @include make-md-column(5);
        }
       &.widget:nth-child(3){
            @include make-md-column(3);
        }
    }
}
footer.footer-light {
    background-color: #fff;
    .widget{
        h3 {
            font-size: 18px;
            color: $gray-light;
        }
        p{
            color: $gray-light;
        }
    }
}

.asu-footer .little-foot {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #e5e5e5;
    ul.little-foot-nav {
        padding: 0;
        list-style: none;
        > li {
            > a {
                margin-right: 30px;
                color: #333;
                border-bottom: 0;
                font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 16px;
                font-weight: normal;
                &:hover, &:focus {
                    color: #595959;
                }
            }
        }
        &:last-child > a {
            margin-right: 0;
        }
    }
}

@media (min-width: $screen-md-min) {
    .asu-footer .little-foot ul.little-foot-nav>li {
        float: left;
    }
    footer.content-info {
        section.widget {
            h3 {
                margin-top: 0;
            }
        }
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
    section.widget img{
        max-width: 100%;
        height: auto;
    }
}
