.navbar-header {
    .navbar-toggle {
        margin-top: 27px;
        margin-bottom: 27px;
    }
    .searchbar-toggle {
        position: relative;
        float: right;
        padding: 3px 10px;
        margin: 27px 8px 27px 0;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        &:hover,
        &:focus {
            background: $gray-lighter;
        }
    }
    .navbar-brand {
        height: auto;
        padding-top: 15px;
        img {
            margin-top: 4px;
        }
    }
    .navbar-brand-mobile {
        margin-top: 8px;
        margin-bottom: 8px;
        padding: 9px 10px;
        position: absolute;
        float: left;
        img {
            width: auto;
        }
    }
    .mobile-header {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 18px;
        clear: both;
        padding: 12.5px 8px;
        border-top: 1px solid rgba(0, 0, 0, 0.09);
        a {
            color: inherit;
        }
    }
}

.navbar-default {
    @include research-box-shadow();
    margin-bottom: 30px;
    min-height: 60px;
    border: none;
    .navbar-toggle {
        border-color: rgba(0, 0, 0, 0.09);
        .icon-bar {
            background-color: rgba(0, 0, 0, 0.3);
        }
        &:focus,
        &:hover {
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
    .navbar-nav {
        margin: 0 -15px;
        > li > a {
            border-bottom: 5px solid transparent;
            padding-top: $navbar-padding-vertical + 5px;
            -webkit-font-smoothing: antialiased;
        }
        > li:last-child > ul.dropdown-menu {
            right: 0;
            left: auto;
        }
        .open>a {
            &,
            &:focus,
            &:hover {
                //border-color: transparent;
            }
        }
        > .current-menu-ancestor,
        .current-menu-parent,
        > .current-menu-item {
            & {
                > a {
                    &,
                    &:hover,
                    &:active,
                    &:focus {
                        border-bottom-color: $brand-primary;
                    }
                }
            }
        }
        .current-menu-ancestor {
            .current-menu-parent {
                &,
                &.open {
                    > a {
                        &,
                        &:hover,
                        &:active,
                        &:focus {
                            border-bottom-width: 0;
                        }
                    }
                }
            }
        }
    }
    .mainnav-wrapper {
        background-color: $gray-lighter-2;
        .navbar-nav>li>a {
            font-weight: 600;
            padding-left: 22px;
            padding-right: 22px;
        }
    }
}

.navbar-default.navbar-header-gold {
    background: $brand-cta;
    .site-header {
        .navbar-nav>li>a,
        .navbar-text {
            color: black;
        }
        .navbar-nav>.open> {
            a,
            a:focus,
            a:hover {
                background-color: darken($brand-cta, 13.5%);
                color: black;
            }
        }
        .form-control,
        .search-form .search-field,
        .btn-default,
        .search-form .search-submit {
            border-color: darken($brand-cta, 13.5%);
        }
        .btn-default:hover {
            background: darken($brand-cta, 13.5%);
        }
        .navbar-header .searchbar-toggle:focus,
        .navbar-header .searchbar-toggle:hover {
            background: darken($brand-cta, 13.5%);
        }
    }
}

.navbar-default.navbar-header-maroon {
    background: $brand-primary;
    color: #fff;
    .navbar-header {
        .navbar-toggle,
        .searchbar-toggle {
            &:focus,
            &:hover {
                background: darken($brand-primary, 13.5%);
            }
        }
        .navbar-toggle {
            .icon-bar {
                background-color: #fff;
            }
        }
    }
    .site-header {
        .navbar-nav>li>a,
        .navbar-text {
            color: #fff;
        }
        .navbar-nav>.open> {
            a,
            a:focus,
            a:hover {
                background-color: darken($brand-primary, 13.5%);
                color: #fff;
            }
        }
        .form-control,
        .search-form .search-field,
        .btn-default,
        .search-form .search-submit {
            border-color: darken($brand-primary, 13.5%);
        }
        .btn-default:hover {
            background: darken($brand-primary, 13.5%);
            span.glyphicon.glyphicon-search {
                color: #fff;
            }
        }
        .mobile-header a {
            color: #fff;
        }
    }
}

.navbar-default.navbar-menu-dark {
    .mainnav-wrapper {
        background-color: #353535;
        .navbar-nav>li>a,
        .navbar-text {
            color: #fff;
        }
        .nav>li > a {
            &:focus,
            &:hover,
            &:active,
            &.open {
                border-bottom: 5px solid #000;
                border-top: 5px solid #000;
                color: #fff;
                background-color: #000;
            }
        }
        .dropdown-menu {
            background-color: #000;
            border-color: #000;
            a {
                color: #fff;
            }
            >li>a:focus,
            >li>a:hover {
                background-color: $gray;
            }
        }
        .navbar-nav {
            >.active>a {
                &,
                &:focus,
                &:hover {
                    color: #fff;
                    background-color: #000;
                }
            }
            >.open>a {
                &,
                &:focus,
                &:hover {
                    background-color: #000;
                }
            }
            .current-menu-parent > a,
            >.current-menu-item > a {
                &,
                &:focus,
                &:hover,
                &:active {
                    border-bottom-color: $brand-cta;
                }
            }
        }
    }
}

.navbar-collapse.navbar-alt > div > ul > li:first-child {
    width: 380px;
    &.current-menu-item > a {
        border-bottom-color: transparent;
    }
    a {
        font-weight: 700;
    }
    &.current_page_item a {
        background: transparent;
    }
}

.searchbar-collapse {
    margin: 0 -7px 10px;
}

.navbar-nav {
    .dropdown-submenu>a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #cccccc;
        margin-top: 6px;
        margin-right: 0px;
    }
    .dropdown-submenu,
    {
        &.open,
        &:hover,
        &:focus {
            background-color: $navbar-default-link-active-bg;
            color: $navbar-default-link-active-color;
        }
    }
    .current-menu-ancestor .current-menu-ancestor {
        background-color: $navbar-default-link-active-bg;
        color: $navbar-default-link-active-color;
    }
    .dropdown-submenu>.dropdown-menu {
        padding-left: 30px;
    }
}


/* X-Small devices (tablets, 768px and down) */

@media (max-width:767px) {
    .navbar-default .navbar-nav {
        &,
        .open {
            a {
                &,
                &:focus,
                &:hover {
                    background-color: inherit;
                    color: #555;
                }
            }
            .dropdown-menu> {
                .active > a {
                    &,
                    &:focus,
                    &:hover {
                        background-color: transparent;
                    }
                }
                li>a {
                    color: #333;
                }
            }
        }
        >li>a {
            border-bottom-width: 0;
            padding-top: 10px;
            &:focus {
                color: #777;
            }
        }
        li[class*="current-menu-"] {
            > .dropdown-menu {
                display: block;
            }
            &.closed {
                > .dropdown-menu {
                    display: none;
                }
            }
        }
        .dropdown-menu {
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            position: static;
            float: none;
            width: auto;
            margin-top: 0;
            background-color: rgba(0, 0, 0, 0);
            border: 0;
            box-shadow: none;
            > li > a {
                padding: 5px 15px 5px 25px;
            }
        }
        .dropdown,
        .dropdown-submenu {
            > a {
                border-right: 5px solid transparent;
            }
        }
        .dropdown-submenu {
            > a:after {
                margin-top: 11px;
                margin-right: -8px;
                border-width: 4px 4px 0 4px;
                border-bottom-color: transparent;
                border-left-color: transparent;
                border-top-color: #ccc;
            }
            &.open>a:after {
                border-width: 0 4px 4px 4px;
                border-top-color: transparent;
                border-left-color: transparent;
                border-bottom-color: #ccc;
            }
            &.current-menu-ancestor,
            &.current-menu-parent {
                > a:after {
                    border-top-color: $text-color;
                }
                &.open>a:after {
                    border-bottom-color: $text-color;
                }
            }
        }
        .dropdown,
        .dropdown-submenu {
            > .dropdown-menu {
                > .menu-item {
                    background: #F4F4F4;
                    &:last-child {
                        border-bottom: 1px solid rgba(221, 221, 221, 0.38);
                    }
                }
            }
        }
        .menu-item {
            border-top: 1px solid #ddd;
            background: #fff;
            a {
                position: relative;
                .caret {
                    position: absolute;
                    right: 8px;
                    top: 50%;
                }
            }
            &.open>a .caret {
                border-top: none;
                border-bottom: 4px dashed;
                border-bottom: 4px solid\9;
            }
            .menu-item {
                background: $gray-lighter-2;
                > a {
                    color: #000;
                }
                > a:not([href="#"]) {
                    color: $brand-primary;
                }
                .menu-item a {
                    padding-left: 50px;
                }
            }
        }
        .open .dropdown-menu >li.current-menu-ancestor,
        .open .dropdown-menu > .active,
        > .current-menu-ancestor,
        > .current-menu-item,
        .current-menu-parent {
            > a {
                border-right: 5px solid $brand-primary;
                border-bottom-width: 0;
                &[href="#"] {
                    color: $text-color;
                }
            }
            .caret {
                right: 10px;
            }
        }
        .menu-item .dropdown-menu > .menu-item.active > a {
            font-weight: 700;
            color: $brand-primary;
        }
    }
}


/* Small devices (tablets, 768px and up) */

@media (min-width: $screen-sm-min) {
    .searchbar-toggle {
        display: none;
    }
    .container>.searchbar-collapse,
    .container-fluid>.searchbar-header,
    .container-fluid>.searchbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }
    .searchbar-collapse.collapse {
        display: block;
        height: auto;
        padding-bottom: 0;
        overflow: visible;
        text-align: right;
    }
    .site-header {
        font-size: 14px;
        .btn-default {
            border: 1px solid #e6e6e6;
        }
        .form-control {
            font-size: 14px;
            border: 1px solid #e6e6e6;
        }
    }
    .navbar-header {
        width: 50%;
        .navbar-brand-mobile {
            padding: 9px 10px 9px 0;
            position: inherit;
            img {
                margin-top: 4px;
            }
        }
        .mobile-header {
            color: #2a2a2a;
            font-size: 24px;
            font-weight: 700;
            line-height: 1;
            margin-top: 0;
            margin-bottom: 0;
            padding: 0 0 12px;
            white-space: nowrap;
            border: none;
        }
    }
    .navbar-default {
        background-color: #fff;
        border-color: #e7e7e7;
        .mainnav-wrapper {
            clear: both;
        }
    }
    //custom
    #universal {
        float: right;
        width: 50%;
        clear: inherit;
        background: transparent;
        text-align: left;
        .navbar-nav {
            float: right;
            >li {
                >a {
                    padding-bottom: 0;
                }
            }
        }
    }
    .navbar-nav {
        ul.nav li.dropdown:hover > ul.dropdown-menu {
            display: block;
        }
        .dropdown-submenu {
            position: relative;
        }
        .dropdown-submenu>.dropdown-menu {
            padding-left: 0px;
            top: 0;
            left: 100%;
            -webkit-border-radius: 0 6px 6px 6px;
            -moz-border-radius: 0 6px 6px 6px;
            border-radius: 0 6px 6px 6px;
        }
        .dropdown-submenu:active>.dropdown-menu,
        .dropdown-submenu:hover>.dropdown-menu {
            display: block;
        }
        .dropdown-submenu>a:after {
            margin-right: -13px;
        }
        .dropdown-submenu:hover>a:after {
            border-left-color: #ffffff;
        }
        .dropdown-submenu.pull-left {
            float: none;
        }
        .dropdown-submenu.pull-left>.dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }
    }
}


/* Samll devices (desktops, 992px and up) */

@media (min-width: $screen-sm-min) {
    .navbar-default {
        .mainnav-wrapper {
            margin-top: 15px;
        }
    }
}


/* Medium devices (desktops, 992px and up) */

@media (min-width: $screen-md-min) {}


/* Large devices (large desktops, 1200px and up) */

@media (min-width: $screen-lg-min) {}

@media (min-width: $screen-sm-min) {}
