.page-header .page-header h1 {
    margin-top: 0;
}

.search-results,
.archive {
    .page-header {
        border-color: $gray-light;
    }
}

// Gives articles that use to full template a drop shadow
body.page-template-template-full-empty main.main .wrapper {
    box-shadow: none;
    border-radius: 0;
    background-color: transparent;
    margin-bottom: 0;
    padding: 0;
}

//Style the page header for blog page
.blog .page-header {
    border-bottom: 0;
    margin-top: 22px;
    margin-bottom: 22px;
    h1 {
        margin-top: 0;
        margin-bottom: 0;
        border-bottom: 1px solid $gray-light-3;
        color: $gray-light;
    }
}
//If homepage isn't being used as the blog page, hide page header.
.home:not(.blog) .page-header {
    display: none;
}

th.tablesorter-header {
    position: relative;
    .tablesorter-header-inner:after {
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f0dc";
        margin-left: 8px;
    }
    &.tablesorter-headerDesc .tablesorter-header-inner:after {
        content: "\f0dd";
    }
    &.tablesorter-headerAsc .tablesorter-header-inner:after {
        content: "\f0de";
    }
}

.icon-wrap {
    background: #4f5557;
    padding: 20px 0;
    color: white;
    text-align: center;
}

.min-header {
    min-height: 66px;
}

.nav-links:after {
    clear: both;
    display: table;
    content: ' ';
}

.nav-previous {
    float: left;
}

.nav-next {
    float: right;
}

.entry-title {
    margin-top: 0;
}


/* Extra-small devices */

@media (max-width: $screen-sm-min - 1) {
    .col-xs-12 {
        .section-inner {
            margin-top: 20px;
        }
    }
}

@media (min-width: $screen-sm-min) {}


/* Medium devices (desktops, 992px and up) */

@media (min-width: $screen-md-min) {
    body[class*="flipped"],
    body[class*="empty"]{
        .main {
            float: right;
        }
    }
    #featured-post section .section-inner {
        padding: 0 50px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    div[class^=col-md-] {
        h1,
        .h1,
        h2,
        .h2,
        h3,
        .h3,
        h4 {
            &.title {
                margin-top: 0px;
            }
        }
    }
}
