article.feed {
    cursor: pointer;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        margin-top: -4px;
        margin-bottom: 24px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    }
    &:active {
        background: $brand-cta;
        -webkit-transition: 100ms linear 0s;
        -moz-transition: 100ms linear 0s;
        -o-transition: 100ms linear 0s;
        transition: 150ms linear 0s;
    }
    .entry-summary p:last-child {
        margin-bottom: 0;
    }
}

#featured-post {
    padding: 0;
    h2.entry-title {
        font-weight: 700;
        font-size: 34px;
        a {
            color: black;
            border-bottom: 0;
        }
    }
    p {
        font-size: 18px;
        line-height: 1.467em;
    }
    .entry-summary {
        @include clearfix();
    }
    figure.featured {
        margin-left: -30px;
        margin-right: -30px;
        margin-top: -30px;
        margin-bottom: 30px;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    section .section-inner {
        padding-left: 25px;
        padding-right: 25px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

article figure.featured {
    margin-bottom: 25px;
    img{
        margin: 0 auto;
    }
}

.posts-navigation {
    margin-bottom: 20px;
}

.post-header {
    padding-bottom: 11.5px;
    margin: 50px 0 25px;
    border-bottom: 1px solid #f0f0f0;
}

.entry-content img {
    max-width: 100%;
}

.entry-tags {
    border-top: 1px solid #f0f0f0;
    margin-top: 15px;
    padding-top: 15px;
    font-size: 87%;
}

p.byline {
    color: $gray-light;
    margin-top: -12.5px;
    a {
        font-weight: 500;
        text-decoration: none;
        border-bottom: 0 !important;
        color: $gray-light;
    }
}

.excerpt {
    color: $gray-light;
}

@media (min-width: $screen-md-min) {
    #featured-post {
        > .row {
            display: flex;
            align-items: center;
        }
        h2.entry-title {
            font-size: 42px;
        }
    }
}
