aside.sidebar section {
    >:first-child {
        margin-top: 0;
    }
    h3 {
        font-size: 22px;
        color: $gray-light;
    }
    &.widget_wpc_bootstrap_buttons {
        padding: 0;
        background-color: transparent;
        > a.btn:not(.btn-link) {
            padding: $padding-large-horizontal;
            margin-bottom: 20px;
        }
    }
    &.widget_text {
        h3 {
            margin-top: 0;
        }
    }
    &.widget_categories {
        padding: 0;
        background: none;
        > ul {
            list-style-type: none;
            padding: 0;
            > li {
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
                > a {
                    @extend .btn;
                    @extend .btn-block;
                    @extend .btn-default;
                    background-color: transparent;
                }
            }
        }
    }
    &.widget_nav_menu,
    &.widget_advanced_menu {
        background-color: #fff;
        border-top: 6px solid #8c1d40;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        padding: 30px;
        position: relative;
        &:before {
            border-bottom: 1px solid #f0f0f0;
            border-left: 1px solid #f0f0f0;
            border-right: 1px solid #f0f0f0;
            content: "";
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: -1;
        }
        ul.menu,
        ul.sub-menu {
            list-style: none;
            padding-left: 0;
        }
        ul.menu {
            padding: 0;
            li.menu-item {
                a {
                    border: none;
                    padding: 10px 5px;
                    display: block;
                    border-top: 1px solid #d7d7d7;
                }
                &.current-menu-item {
                    > .sub-menu {
                        display: block;
                    }
                }
                &.current_page_item > a,
                a:hover,
                a:focus {
                    font-weight: bold;
                    background-color: #f5f5f5;
                    text-decoration: none;
                }
                a[href='#'] {
                    &:focus,
                    &:hover {
                        font-weight: inherit;
                        background-color: transparent;
                    }
                }
                &.current_page_parent > a {
                    color: $brand-primary;
                }
                &.menu-item-has-children {
                    position: relative;
                    z-index: 2;
                    > a[href="#"]:after {
                        z-index: -99;
                        content: "\f0d7";
                        font-family: "FontAwesome";
                        font-style: normal;
                        font-weight: normal;
                        text-decoration: inherit;
                        color: #4f5557;
                        padding-right: 0.5em;
                        position: absolute;
                        top: 9px;
                        right: 0px;
                    }
                    &.current-menu-ancestor {
                        > .sub-menu {
                            display: block;
                        }
                        > a[href="#"]:after {
                            content: "\f0d8";
                        }
                        &.closed {
                            > .sub-menu {
                                display: none !important;
                            }
                            > a[href="#"]:after {
                                content: "\f0d7";
                            }
                        }
                    }
                }
                &.open {
                    > .sub-menu {
                        display: block;
                    }
                    a[href="#"]:after {
                        z-index: -99;
                        content: "\f0d8";
                        font-family: "FontAwesome";
                        font-style: normal;
                        font-weight: normal;
                        text-decoration: inherit;
                        color: #4f5557;
                        padding-right: 0.5em;
                        position: absolute;
                        top: 9px;
                        right: 0px;
                    }
                }
            }
            ul.sub-menu {
                display: none;
                li.menu-item {
                    a {
                        padding-left: 22px;
                    }
                    li.menu-item a {
                        padding-left: 30px;
                    }
                }
            }
        }
    }
}

body[class*="empty"] {
    aside.sidebar section {
        &.widget_nav_menu,
        &.widget_advanced_menu {
            background-color: transparent;
            border-top: 0;
            padding: 0;
            position: relative;
            font-size: 18px;
            &:before {
                border: 0;
            }
            ul.menu {
                li.menu-item {
                    border: 0;
                    a{
                        border-top: 0;
                        background: transparent;
                    }
                    & a:hover,
                    &.current_page_item > a {
                        border: 0;
                        border-right: 3px solid $brand-primary;
                    }
                    &:not(.menu-item-has-children) > a[href^="#"]{
                        color: $text-color;
                    }
                }
                > li.menu-item {
                    border-right: 1px solid $gray-light-2;
                    > a{
                        padding-left: 0;
                    }
                }
            }
        }
    }
}

